header {
  @apply shadow-sm;
  max-width: 100vw;
  box-sizing: border-box;
  .nav-menu {
    @apply flex items-center gap-6;
    li {
      @apply text-lg font-semibold relative;
      &.active:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        height: 3px;
        width: 70%;
        background-color: var(--color-pink);
      }
    }
  }
}
